csharp/siam_client/Service References/siam_service/Nfse1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Nfse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_INfse_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="true" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws.imap.org.br/siam/Nfse.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws.imap.org.br/siam/Nfse.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NfseSvc" />
      <xsd:import schemaLocation="http://ws.imap.org.br/siam/Nfse.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws.imap.org.br/siam/Nfse.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INfse_EnviarLoteRpsSincronoEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsSincronoEnvio" />
  </wsdl:message>
  <wsdl:message name="INfse_EnviarLoteRpsSincronoEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarLoteRpsSincronoEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="INfse_EnviarLoteRpsSincronoEnvio_SiamFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NfseSvc" name="detail" element="q1:SiamFault" />
  </wsdl:message>
  <wsdl:message name="INfse_ConsultarLoteRpsEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsEnvio" />
  </wsdl:message>
  <wsdl:message name="INfse_ConsultarLoteRpsEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLoteRpsEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="INfse_ConsultarLoteRpsEnvio_SiamFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NfseSvc" name="detail" element="q2:SiamFault" />
  </wsdl:message>
  <wsdl:message name="INfse_ValidarXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarXml" />
  </wsdl:message>
  <wsdl:message name="INfse_ValidarXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarXmlResponse" />
  </wsdl:message>
  <wsdl:message name="INfse_ValidarXml_SiamFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NfseSvc" name="detail" element="q3:SiamFault" />
  </wsdl:message>
  <wsdl:portType name="INfse">
    <wsdl:operation name="EnviarLoteRpsSincronoEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/INfse/EnviarLoteRpsSincronoEnvio" message="tns:INfse_EnviarLoteRpsSincronoEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INfse/EnviarLoteRpsSincronoEnvioResponse" message="tns:INfse_EnviarLoteRpsSincronoEnvio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INfse/EnviarLoteRpsSincronoEnvioSiamFaultFault" name="SiamFaultFault" message="tns:INfse_EnviarLoteRpsSincronoEnvio_SiamFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRpsEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/INfse/ConsultarLoteRpsEnvio" message="tns:INfse_ConsultarLoteRpsEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INfse/ConsultarLoteRpsEnvioResponse" message="tns:INfse_ConsultarLoteRpsEnvio_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INfse/ConsultarLoteRpsEnvioSiamFaultFault" name="SiamFaultFault" message="tns:INfse_ConsultarLoteRpsEnvio_SiamFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarXml">
      <wsdl:input wsaw:Action="http://tempuri.org/INfse/ValidarXml" message="tns:INfse_ValidarXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INfse/ValidarXmlResponse" message="tns:INfse_ValidarXml_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INfse/ValidarXmlSiamFaultFault" name="SiamFaultFault" message="tns:INfse_ValidarXml_SiamFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INfse" type="tns:INfse">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarLoteRpsSincronoEnvio">
      <soap:operation soapAction="http://tempuri.org/INfse/EnviarLoteRpsSincronoEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SiamFaultFault">
        <soap:fault use="literal" name="SiamFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRpsEnvio">
      <soap:operation soapAction="http://tempuri.org/INfse/ConsultarLoteRpsEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SiamFaultFault">
        <soap:fault use="literal" name="SiamFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidarXml">
      <soap:operation soapAction="http://tempuri.org/INfse/ValidarXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SiamFaultFault">
        <soap:fault use="literal" name="SiamFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_INfse" type="tns:INfse">
    <wsp:PolicyReference URI="#BasicHttpsBinding_INfse_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarLoteRpsSincronoEnvio">
      <soap:operation soapAction="http://tempuri.org/INfse/EnviarLoteRpsSincronoEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SiamFaultFault">
        <soap:fault use="literal" name="SiamFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRpsEnvio">
      <soap:operation soapAction="http://tempuri.org/INfse/ConsultarLoteRpsEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SiamFaultFault">
        <soap:fault use="literal" name="SiamFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidarXml">
      <soap:operation soapAction="http://tempuri.org/INfse/ValidarXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SiamFaultFault">
        <soap:fault use="literal" name="SiamFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Nfse">
    <wsdl:port name="BasicHttpBinding_INfse" binding="tns:BasicHttpBinding_INfse">
      <soap:address location="http://ws.imap.org.br/siam/Nfse.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_INfse" binding="tns:BasicHttpsBinding_INfse">
      <soap:address location="https://ws.imap.org.br/siam/Nfse.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>