java/siam_client/src/META-INF/wsdl/ws.imap.org.br/siam/Nfse.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="https://ws.imap.org.br/siam/Nfse.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/"/><xs:element name="EnviarLoteRpsSincronoEnvio"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="EnviarLoteRpsSincronoEnvioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="EnviarLoteRpsSincronoEnvioResult" nillable="true" type="q1:XMLMessage" xmlns:q1="http://schemas.datacontract.org/2004/07/"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarLoteRpsEnvio"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarLoteRpsEnvioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConsultarLoteRpsEnvioResult" nillable="true" type="q2:XMLMessage" xmlns:q2="http://schemas.datacontract.org/2004/07/"/></xs:sequence></xs:complexType></xs:element><xs:element name="ValidarXml"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ValidarXmlResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ValidarXmlResult" nillable="true" type="q3:XMLMessage" xmlns:q3="http://schemas.datacontract.org/2004/07/"/></xs:sequence></xs:complexType></xs:element></xs:schema>